@*
/auth/recover-password/
*@

@using Lumina.Presentation.Web.Common.Models.UsersManagement
@using Lumina.Presentation.Web.Common.Services

@inject IUrlService _urlService

@model RecoverPasswordRequestModel

<div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-50 mb-10" style="min-width: 320px; margin-top: 1rem;">
    <div class="shine-effect"></div>
    <form asp-controller="Auth" asp-action="RecoverPassword" method="post" id="recover-password-form" class="inline">
        @Html.AntiForgeryToken()
        <div class="form-container">
            <!-- Username -->
            <div class="form-row" id="div-username">
                <div class="form-label">
                    <label asp-for="Username">Username</label>
                    <span class="mandatory-field">*</span>:
                </div>
                <div class="form-field">
                    <input asp-for="Username" autocomplete="username" class="enlightenment-input" />
                </div>
            </div>
            <!-- 2FA -->
            <div class="form-row" id="div-totp-code">
                <div class="form-label">
                    <label asp-for="TotpCode">Totp Code</label>
                    <span class="mandatory-field">*</span>:
                </div>
                <div class="form-field">
                    <input type="number" asp-for="TotpCode" autocomplete="one-time-code" class="enlightenment-input" />
                </div>
            </div>
            <div class="form-row">
                <button id="btn-login" type="button" class="abort-button h-22px w-100px">Back To Login</button>
                <button type="submit" id="btn-validate-totp" class="confirm-button h-22px w-100px">Validate Code</button>
            </div>
        </div>
    </form>
    <!-- section registration success -->
    <div class="text-center w-100">
        <p id="recover-password-success" class="text-light-one w-100 hidden">Password Temporarily Reset</p>
        <button id="btn-redirect-login" type="submit" class="confirm-button h-22px w-80px hidden" data-link="@_urlService.GetAbsoluteUrl("Login", "Auth")">Login</button>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" defer>
        document.getElementById('recover-password-form').addEventListener('keypress', async (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                const form = event.target.closest('form');
                await handleRecoverPassword(form);
            }
        });

        document.getElementById('recover-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            await handleRecoverPassword(event.target);
        });

        async function handleRecoverPassword(form) {
            const txtUsername = form.querySelector('[name="Username"]');
            const txtTotpCode = form.querySelector('[name="TotpCode"]');
            const recoverPasswordSuccess = document.getElementById('recover-password-success');
            const btnRedirectLogin = document.getElementById('btn-redirect-login');
            const btnLogin = document.getElementById('btn-login');
            const btnValidateTotp = document.getElementById('btn-validate-totp');
            const divUsername = document.getElementById('div-username');
            const divTotpCode = document.getElementById('div-totp-code');

            const formData = {
                Username: txtUsername.value,
                TotpCode: txtTotpCode.value
            };
            const data = await callApiPostAsync('@_urlService.GetAbsoluteUrl("RecoverPassword", "Auth")', formData);
            if (data && data.isPasswordReset === true) {
                divUsername.classList.add('hidden');
                btnValidateTotp.classList.add('hidden');
                btnLogin.classList.add('hidden');
                divTotpCode.classList.add('hidden');
                btnRedirectLogin.classList.replace('hidden', 'inline');
                recoverPasswordSuccess.classList.replace('hidden', 'block');
            }
        }
        document.getElementById('btn-login').addEventListener('click', () => {
            window.location.href = '@_urlService.GetAbsoluteUrl("Login", "Auth")';
        }); 
        document.getElementById('btn-redirect-login').addEventListener('click', () => {
            window.location.href = '@_urlService.GetAbsoluteUrl("Login", "Auth")';
        });
    </script>
}
