@*
/auth/recover-password/
*@

@using Lumina.Presentation.Web.Common.Models.UsersManagement
@using Lumina.Presentation.Web.Common.Services
@using Microsoft.AspNetCore.Mvc.Localization

@{
    // generate a unique id for the scripts section of this view, so it can be dynamically loaded/unloaded by the global AJAX navigator handler
    var scriptId = ScriptIdentifierHelper.GenerateScriptId();
}

@inject IUrlService _urlService
@inject IViewLocalizer _localizer

@model RecoverPasswordRequestModel

<div style="display: grid; grid-template-rows: auto 1fr;"><!--container with two rows, one fixed, one filling remaining space-->
    <div style="min-height: 1rem;"></div><!--the first row is a dummy row for "margin", because setting a margin on the next row would offset the parent's position-->
    <div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-50 mb-10" style="min-width: 320px;">
        <div class="shine-effect"></div>
        <form method="post" id="recover-password-form" class="inline">
            @Html.AntiForgeryToken()
            <div class="form-container">
                <!-- Username -->
                <div class="form-row" id="div-username">
                    <div class="form-label">
                        <label asp-for="Username">@_localizer["Username"]</label>
                        <span class="mandatory-field">*</span>:
                    </div>
                    <div class="form-field">
                        <input asp-for="Username" autocomplete="username" class="enlightenment-input" />
                    </div>
                </div>
                <!-- 2FA -->
                <div class="form-row" id="div-totp-code">
                    <div class="form-label">
                        <label asp-for="TotpCode">@_localizer["TotpCode"]</label>
                        <span class="mandatory-field">*</span>:
                    </div>
                    <div class="form-field">
                        <input type="number" asp-for="TotpCode" autocomplete="one-time-code" class="enlightenment-input" />
                    </div>
                </div>
                <div class="form-row">
                    <button id="btn-login" type="button" class="abort-button h-22px">@_localizer["BackToLogin"]</button>
                    <button type="submit" id="btn-validate-totp" class="confirm-button h-22px">@_localizer["ValidateCode"]</button>
                </div>
            </div>
        </form>
        <!-- section registration success -->
        <div class="text-center w-100">
            <p id="recover-password-success" class="text-light-one w-100 hidden">@_localizer["PasswordTemporarilyReset"]</p>
            <button id="btn-redirect-login" type="submit" class="confirm-button h-22px hidden">@_localizer["Login"]</button>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" data-form="@scriptId" defer>
        // create cleanup registry for this view
        const cleanupFunctions = [];

        const form = document.getElementById('recover-password-form');
        const txtUsername = form.querySelector('[name="Username"]');
        const txtTotpCode = form.querySelector('[name="TotpCode"]');
        const recoverPasswordSuccess = document.getElementById('recover-password-success');
        const btnRedirectLogin = document.getElementById('btn-redirect-login');
        const btnLogin = document.getElementById('btn-login');
        const btnValidateTotp = document.getElementById('btn-validate-totp');
        const divUsername = document.getElementById('div-username');
        const divTotpCode = document.getElementById('div-totp-code');

        // perform the password recovery
        async function handleRecoverPasswordAsync() {
            const formData = {
                Username: txtUsername.value,
                TotpCode: txtTotpCode.value
            };
            const data = await callApiPostAsync('@_urlService.GetAbsoluteUrl("RecoverPassword", "Auth")', formData);
            if (data && data.isPasswordReset === true) {
                divUsername.classList.add('hidden');
                btnValidateTotp.classList.add('hidden');
                btnLogin.classList.add('hidden');
                divTotpCode.classList.add('hidden');
                btnRedirectLogin.classList.replace('hidden', 'inline');
                recoverPasswordSuccess.classList.replace('hidden', 'block');
            }
        }

        // on Enter key pressed
        const handleEnterKey = async function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                await handleRecoverPasswordAsync();
            }
        };

        // on form submit event
        const handleSubmit = async function(e) {
            e.preventDefault();
            await handleRecoverPasswordAsync();
        };

        // on login button click
        const handleBtnLoginClick = function() {
            window.location.href = '@_urlService.GetAbsoluteUrl("Login", "Auth")';
        };

        // on login redirect button click
        const handleBtnRedirectLoginClick = function() {
            window.location.href = '@_urlService.GetAbsoluteUrl("Login", "Auth")';
        };

        // add listeners
        form.addEventListener('keypress', handleEnterKey);
        form.addEventListener('submit', handleSubmit);
        btnLogin.addEventListener('click', handleBtnLoginClick);
        btnRedirectLogin.addEventListener('click', handleBtnRedirectLoginClick);

        // register cleanup for these listeners
        cleanupFunctions.push(() => {
            form.removeEventListener('keypress', handleEnterKey);
            form.removeEventListener('submit', handleSubmit);
            btnLogin.removeEventListener('click', handleBtnLoginClick);
            btnRedirectLogin.removeEventListener('click', handleBtnRedirectLoginClick);
        });

        // store all cleanups for this view on window object using the scriptId
        window.viewCleanups = window.viewCleanups || {};
        window.viewCleanups['@scriptId'] = () => {
            cleanupFunctions.forEach(cleanup => cleanup());
            console.log(`Unloaded @scriptId`);
        };
        console.log(`Loaded @scriptId`);
    </script>
}
