@using Lumina.Presentation.Web.Common.Services

@inject IUrlService _urlService

<input type="checkbox" id="hamburger-input" class="burger-shower" />
<label id="hamburger-menu" for="hamburger-input">
    <span></span>
    <span></span>
    <span></span>
    <nav id="mobile-menu">
        <div id="mobile-menu-content">
            <div class="mobile-menu-heading">
                Account
            </div>
            <ul>
                @if (User?.Identity?.IsAuthenticated == false)
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Login", "Auth")"><span>Login</span></a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("Login", "Auth")"><span>Recover Password</span></a></li>
                }
                else
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Logout", "Auth")"><span>Logout</span></a></li>
                }
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Register", "Auth")" class="nav-link"><span>Register</span></a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("ChangePassword", "Auth")" class="nav-link"><span>Change Password</span></a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("Profile", "Auth")" class="nav-link"><span>Profile</span></a></li>
                }
            </ul>
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <div class="mobile-menu-heading">
                    Tools
                </div>
                <ul>
                    <li><a href="tools/options"><span>Options</span></a></li>
                </ul>
                <div class="mobile-menu-heading">
                    Library
                </div>
                <ul>
                    <li><a href="library/manage"><span>Manage libraries</span></a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("EditLibrary", "LibraryManagement")" class="nav-link"><span>Add new library</span></a></li>
                </ul>
                <div class="mobile-menu-heading">
                    Written Content
                </div>
                <ul>
                    <li><a href="library/written-content-library/books-library/books" class="nav-link"><span>Books</span></a></li>
                    <li><a href="library/written-content/magazines"><span>Magazines</span></a></li>
                </ul>
                <div class="mobile-menu-heading">
                    Audio
                </div>
                <ul>
                    <li><a href="library/audio/music"><span>Music</span></a></li>
                    <li><a href="library/audio/interviews"><span>Interviews</span></a></li>
                </ul>
                <div class="mobile-menu-heading">
                    Video
                </div>
                <ul>
                    <li><a href="library/video/movies"><span>Movies</span></a></li>
                    <li><a href="library/video/tvshows"><span>TV Shows</span></a></li>
                </ul>
            }
            <div class="mobile-menu-heading">
                Help
            </div>
            <ul>
                <li><a href="help/documentation"><span>Documentation</span></a></li>
                <li><a href="help/about"><span>About</span></a></li>
            </ul>
        </div>
    </nav>
</label>
<nav class="menubar">
    <ul>
        <li tabindex="0">
            <input type="radio" id="account-menu" name="menu">
            <label for="account-menu">Account</label>
            <ul>
                @if (User?.Identity?.IsAuthenticated == false)
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Login", "Auth")">Login</a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("RecoverPassword", "Auth")">Recover Password</a></li>
                }
                else
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Logout", "Auth")">Logout</a></li>
                }
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <li><a href="@_urlService.GetAbsoluteUrl("Register", "Auth")" class="nav-link">Register</a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("ChangePassword", "Auth")" class="nav-link">Change Password</a></li>
                    <li><a href="@_urlService.GetAbsoluteUrl("Profile", "Auth")" class="nav-link">Profile</a></li>
                }
            </ul>
        </li>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <li tabindex="0">
                <input type="radio" id="tools-menu" name="menu">
                <label for="tools-menu">Tools</label>
                <ul>
                    <li><a href="tools/options">Options</a></li>
                </ul>
            </li>
            <li tabindex="0">
                <input type="radio" id="library-menu" name="menu">
                <label for="library-menu">Library</label>
                <ul>
                    <li tabindex="0"><a href="library/manage">Manage libraries</a></li>
                    <li tabindex="0"><a href="@_urlService.GetAbsoluteUrl("EditLibrary", "LibraryManagement")" class="nav-link">Add new library</a></li>
                    <li class="has-submenu" tabindex="0">
                        <label>Written Content</label>
                        <ul>
                            <li><a href="library/written-content-library/books-library/books" class="nav-link">Books</a></li>
                            <li><a href="library/written-content/magazines">Magazines</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" tabindex="0">
                        <label>Audio</label>
                        <ul>
                            <li><a href="library/audio/music">Music</a></li>
                            <li><a href="library/audio/interviews">Interviews</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" tabindex="0">
                        <label>Video</label>
                        <ul>
                            <li><a href="library/video/movies">Movies</a></li>
                            <li><a href="library/video/tvshows">TV Shows</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        }
        <li tabindex="0">
            <input type="radio" id="help-menu" name="menu">
            <label for="help-menu">Help</label>
            <ul>
                <li><a href="help/documentation">Documentation</a></li>
                <li><a href="help/about">About</a></li>
            </ul>
        </li>
    </ul>
</nav>
